/* Выравнивание элементов вправо */
.avs-right-wrapper {
  padding: 0.5em 1em;
  display: flex;
  justify-content: flex-end;
  column-gap: 0.5em;
}

.avs-right-wrapper__item {
  height: 100%;
}

/* Форматирование стандартных параграфов */
.avs-page-p {
	text-align: left;
}

.avs-page-center {
  width: 100%;
  display: flex;
  justify-content: center;
}
.avs-all-screen__wrapper {
  width:100%;
  display: flex;
  justify-content: center;
}

.avs-all-screen {
  max-width: 800px;
  display: flex;
  justify-content: center;
  column-gap: 2.5vw;
}

.avs-objects__wrapper {
  padding-top: 1em;
  flex: 1 1 200px;
}

.avs-loc-desc__wrapper {
  flex: 2 2 auto;
}

.avs-stats {
  padding-top: 1em;
  flex: 1 1 200px;
}


.avs-loc-desc {
  min-width: 400px;
}

/* Флекс-контейнер для выравнивания действий в столбец */
.avs-acts-column {
  min-width: 15%;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  padding: 0.5em;
}
.avs-acts-column__wrapper {
  display: flex;
  justify-content: center;
}

/* Действия */
  .avs-act-button {
    padding: 0.5em;
    border: 1px solid rgb(0,0,0);
    border-radius: 0.15em;
  }
  .avs-act-button:hover {
  /*  box-shadow: 0px 0px 8px 2px rgba(255, 255, 200, 1);*/
    background: rgb(50, 50, 50, 0.85);
  }
  .avs-act-button__link {
    color: black;
    text-decoration: none;
  }
  .avs-act-button__link:hover {
    color: azure;
  }



/* Предметы */
.avs-objects {
  display: flex;
  flex-direction: column;
  row-gap: 1vh;

}
.avs-obj-button {
  background: rgb(250, 250, 200);
  padding: 0.5em;
  border-radius: 0.15em;
  border: 1px solid black;
}
.avs-obj-button:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.9);
}
.avs-obj-button__link {
  color: black;
  text-decoration: none;
}

.avs-stats-modaling {
  display: flex;
}
.avs-stats-mogaling__inner {
  padding: 1vh;
  background: rgba(242, 224, 199, 0.96);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.9);
  border: 2px solid rgb(67, 21, 4);
  border-radius: 0.85em
}


.avs-hide-this {
  display: none;
}